# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Netlify
.netlify
netlify/functions-internal
netlify/functions-serve

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.netlify

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
.firebase/
service-Key.json
users.json

# Netlify
# .netlify
